/* Based on: https://coolors.co/333f47-1ba7b3-8799c4-fefff7-dfdbbe-f2edd7-e90b55-80b700-a34784 */

BitcodeDialog {
    qproperty-keywordColor: #333F47;
    qproperty-instructionColor: #80B700;
    qproperty-variableColor: #A34784;
    qproperty-constantColor: #E90B55;
    qproperty-integerTypeColor: #8799C4;
    qproperty-complexPointerTypeColor: #8799C4;
    qproperty-classColor: #800080;
    qproperty-singleLineCommentColor: #FF0000;
    qproperty-multiLineCommentColor: #FF0000;
    qproperty-quotationColor: #465D68;
    qproperty-functionColor: #1BA7B3;
    qproperty-alignColor: #333F47;
}

CodeEditor {
    color: black;
    background-color: #fefff7;

    qproperty-selectedLineHighlightColor: #f2edd7;
    qproperty-errorLineHighlightColor: #FF9999;
    qproperty-lineNumberColor: #000000;
    qproperty-lineNumberBackgroundColor: #dfdbbe;
}