/* Based on: https://coolors.co/333f47-1ba7b3-8799c4-fefff7-dfdbbe-f2edd7-e90b55-80b700-a34784 */

BitcodeDialog {
    qproperty-keywordColor: #333F47;
    qproperty-instructionColor: #333F47;

    qproperty-globalVariableColor: #1BA7B3;
    qproperty-localVariableColor: #E90B55;
    qproperty-constantColor: #A34784;
    qproperty-integerTypeColor: #1BA7B3;
    
    qproperty-commentColor: #8799C4;
    qproperty-metadataColor: #8799C4;
    qproperty-functionColor: #1BA7B3;
}

CodeEditor {
    font-family: "Courier New", "Courier", monospace;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    background-color: #fefff7;

    qproperty-selectedLineHighlightColor: #DFDBBE;
    qproperty-errorLineHighlightColor: #FF9999;
    qproperty-lineNumberColor: #8799C4;
    qproperty-lineNumberBackgroundColor: #fefff7;
}